h1{
    text-align: center;

}

div#manha {
    text-align: center;
    visibility: hidden ;
    background: white;
    width: 500px;
    height: 300px;
    margin-left: 370px;
    border-radius: 10%;
    font-size: 23px;
  
}

div#manha img{
    max-width: 250px;
    max-height: 250px;
    border-radius: 100%;

}

div#tarde {
    text-align: center;
    visibility: hidden ;
    background: white;
    width: 500px;
    height: 300px;
    margin-left: 370px;
    border-radius: 10%;
    font-size: 23px;
  
}

div#tarde img{
    max-width: 250px;
    max-height: 250px;
    border-radius: 100%;

}